.bg-gradient{
background: rgb(103,57,136);
background: linear-gradient(90deg, rgba(103,57,136,1) 0%, rgba(121,57,131,1) 27%, rgba(229,59,104,1) 85%);}

.fontFam{
    font-family: 'Ubuntu','Roboto', sans-serif;
}
/* ********* */
